img.resize {
  max-width:auto;
  max-height:auto;
 }

.AboutMeLink a
{
	color: black;
	font-size: auto;
}

.AboutMeLink a:hover
{
	color: gray;

}

.box img
{

  /*background: #000;*/

  border-radius: 50%;
  border: 5px solid pink;
}


#AboutMeDecription{
　width:240px;
　height:280px;
　text-align:center;
　line-height:280px;
　font-size:15px;
　color:#f9c81e;
　font-weight:bold;
　background-color:#fffaf3;
　float:left;
}

#Sidebar{
　width:120px;
　float:left;
　height:280px;
　text-align:center;
　line-height:280px;
　font-size:15px;
　color:#ffffff;
　font-weight:bold;
　background-color:#cecece;
}
