img.resize {
  max-width:auto;
  max-height:auto;
 }

.AboutMeLink a
{
	color: black;
	font-size: auto;
}

.AboutMeLink a:hover
{
	color: gray;

}

.box img
{

  /*background: #000;*/

  border-radius: 50%;
  border: 5px solid pink;
}




